<?xml version="1.0" encoding="utf-8" ?>
<processbuild-config>
	<process env.NODE_PATH="$(base)\node_modules"
			 env.BUILDJS="$(base)"
			 filename="$(base)\..\..\node.exe"
			 workingdirectory="$(ProjectDirectory)"
		     arguments="$(Args)" />

	<logfilter regex="^\[[0-9][0-9]:[0-9][0-9]:[0-9][0-9]\] (?&lt;msg&gt;.*)$"																																			importance="normal"		/>
	<logfilter regex="^ERROR: (?&lt;file&gt;[A-Za-z0-9 _\-\+\=\[\]\{\}\:\!\@\#\$\%\^\&amp;\*\(\)\.\,\`\:\;\\\/]+)\[(?&lt;lineno&gt;[0-9]+), (?&lt;colno&gt;[0-9]+)\]: (?&lt;msg&gt;.*)$"															/>
	<logfilter regex="^(?&lt;file&gt;[A-Za-z0-9 _\-\+\=\[\]\{\}\:\!\@\#\$\%\^\&amp;\*\(\)\.\,\`\:\;\\\/]+)\((?&lt;lineno&gt;[0-9]+),(?&lt;colno&gt;[0-9]+)\):(?&lt;code&gt;[A-Za-z0-9-_]+): Warning - (?&lt;msg&gt;.*)$"	warning="1"				/>
	<logfilter regex="^(?&lt;file&gt;[A-Za-z0-9 _\-\+\=\[\]\{\}\:\!\@\#\$\%\^\&amp;\*\(\)\.\,\`\:\;\\\/]+)\((?&lt;lineno&gt;[0-9]+),(?&lt;colno&gt;[0-9]+)\):(?&lt;code&gt;[A-Za-z0-9-_]+): (?&lt;msg&gt;.*)$"									/>
	<logfilter regex="^(?&lt;file&gt;[A-Za-z0-9 _\-\+\=\[\]\{\}\:\!\@\#\$\%\^\&amp;\*\(\)\.\,\`\:\;\\\/]+)\((?&lt;lineno&gt;[0-9]+),(?&lt;colno&gt;[0-9]+)\): (?&lt;msg&gt;.*)$"																	/>
	<logfilter regex="^(?&lt;file&gt;[A-Za-z0-9 _\-\+\=\[\]\{\}\:\!\@\#\$\%\^\&amp;\*\(\)\.\,\`\:\;\\\/]+)\((?&lt;lineno&gt;[0-9]+)\):(?&lt;code&gt;[A-Za-z0-9-_]+): (?&lt;msg&gt;.*)$"															/>
	<logfilter regex="^(?&lt;file&gt;[A-Za-z0-9 _\-\+\=\[\]\{\}\:\!\@\#\$\%\^\&amp;\*\(\)\.\,\`\:\;\\\/]+)\((?&lt;lineno&gt;[0-9]+)\): (?&lt;msg&gt;.*)$"																							/>
</processbuild-config>
